<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--links css-->

    <!--configurações gerais-->
    <link rel="stylesheet" href="../styles/style.css" />

    <!--variáveis-->
    <link rel="stylesheet" href="../styles/vars.css" />

    <!--barra de navegação-->
    <link rel="stylesheet" href="../styles/navBar.css" />

    <!--seções-->
    <link rel="stylesheet" href="../styles/sections.css" />

    <title>Currículo Online</title>
  </head>
  <body>
    <main role="main">
      <!--barra de navegação-->
      <nav role="navigation">
        <!--lista de links-->
        <ul>
          <li class="active"><a href="#about-me">Sobre Mim</a></li>
          <li><a href="#education">Formação</a></li>
          <li><a href="#portfolio">Portifólio</a></li>
          <li><a href="#contact">Contato</a></li>
        </ul>
      </nav>

      <!--seção sobre mim-->
      <section id="about-me">
        teste
      </section>

      <!--seção formação-->
      <section id="education">
        teste 2
      </section>

      <!--seção portifólio-->
      <section id="portfolio">
        teste 3
      </section>

      <!--seção contato-->
      <section id="contact">
        teste 4
      </section>
    </main>
  </body>
</html>
