/*variáveis css*/
@import url("./vars.css");

/*configurações da seção "sobre mim"*/

#about-me {
  /*seção sobre mim*/
  display: flex;
  padding-top: 100px;
}

.about-me-text {
  /*seção sobre mim texto geral*/
  width: 50%;
  line-height: 2.5rem;
  text-align: left;
}

.about-me-text h1,
.about-me-text h2 {
  /*seção sobre mim h1*/
  font-size: 25px;
  padding-bottom: 1rem;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  color: var(--purple-color);
}

.about-me-text h2 {
  /*seção sobre mim h2*/
  padding-top: 1rem;
}

.about-me-text h2 span {
  /*seção sobre mim h2 ícone*/
  font-size: 25px;
}

.mobile-hand-icon {
  /*seção sobre mim h2 ícone para mobile*/
  display: none;
}

@keyframes gradientMove {
  /*animação do gardiente da seção sobre mim h1*/
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-me-text p {
  /*seção sobre mim p*/
  font-size: 16px;
  color: var(--p-text-color);
  font-family: Verdana, Geneva, sans-serif;
}

.external-link {
  /*link para página externa*/
  text-decoration: none;
  color: inherit;
  position: relative;
}

.external-link::after {
  /*ícone do link para página externa*/
  content: "↗";
  font-size: 13px;
  margin-left: 5px;
}

.technologies {
  /*seção de tecnologias*/
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.technologies .cards{/*cards de tecnologia*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} 

.technologies .cards .card{/*card de tecnologia*/
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--gray-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(134, 101, 131, 0.4) 1px 1px,    rgba(134, 101, 131, 0.3) 2px 2px, rgba(134, 101, 131, 0.2) 3px 3px,    rgba(134, 101, 131, 0.1) 4px 4px, rgba(240, 46, 170, 0.05) 5px 5px;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.technologies .cards .card:hover{/*hover card de tecnologia*/
  transform: scale(1.05);
}

.about-me-divider {
  /*linha separativa de seções*/
  display: flex;
  justify-content: center;
  margin: 100px 0 100px 0;
}

.about-me-divider svg {
  /*svg da linha separativa de seções*/
  width: 90%;
}

/*----------------------mobile------------------------*/

@media (max-width: 1000px) {
  /*media querie para mobile*/
  #about-me {
    /*seção sobre mim*/
    display: flex;
    flex-direction: column;
  }
  .about-me-text {
    /*seção sobre mim texto geral*/
    width: 100%;
  }
  .mobile-hand-icon {
    /*seção sobre mim h2 ícone para mobile*/
    display: inline-block;
  }
  .hand-icon {
    /*seção sobre mim h2 ícone para desktop*/
    display: none;
  }
  .technologies {
    /*seção de tecnologias*/
    width: 100%;
  }
}
