/*variáveis css*/
@import url("./vars.css");

/*configurações da seção "contato"*/

#contact {/*seção contato*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

form{/*formulário*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

label{/*label*/
    font-size: 16px;
    color: var(--p-text-color);
    font-family: Verdana, Geneva, sans-serif;
}

form input,
form textarea{/*inputs e textarea*/
    background-color: var(--bg-color);
    border: 2px solid lightgray;
    padding: 15px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

form button{/*botão de envio de formulário*/
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 15px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

form button:hover{/*hover do botão*/
    background-color: var(--purple-hover-color);
}

form textarea{/*configurações da textarea*/
    min-height: 5rem;
    max-height: 10rem;
    max-width: 100%;
    min-width: 100%;
}

form input:focus,
form textarea:focus{/*foco dos inputs*/
    border: 2px solid var(--purple-color);
}

/*----------------------mobile------------------------*/

@media (max-width: 1000px) {/*media querie para mobile*/
  form{/*formulário*/
    width: 100%;
}
}
