/*variáveis css*/
@import url('./vars.css');

/*configurações da barra de navegação*/

nav {/*barra de navegação*/
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding: var(--padding-10);
  position: fixed;
  width: 100%;
}

.profile-photo{/*seção de perfil*/
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-photo img{/*foto de perfil*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-photo b{/*nome*/
    color: var(--text-color);
}

.profile-photo span p{/*email*/
    color: var(--p-text-color);
}

nav ul {/*listadelinks*/
  list-style: none;
  display: flex;
  height: 50px;
  gap: 20px;
  background-color: var(--gray-color);
  margin: 10px;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

nav ul li {/*lista de links*/
  cursor: pointer;
  padding: var(--padding-20);
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li .web-link {/*lista de links "a"*/
  text-decoration: none;
  color: var(--text-color);
}

nav ul li .mobile-link {/*lista de links "a"*/
  color: var(--text-color);
}

nav ul .active,
nav ul .active .web-link,
nav ul .active .mobile-link {/*linkativo*/
  background-color: var(--purple-color);
  color: var(--white-color);
  padding: var(--padding-10);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.mobile-link {/*link para mobile*/
  display: none;
}

.mobile-link svg{/*link para mobile*/
  width: 50px;
  height: 50px;
}

.mode{/*botão de modo claro/escuro*/
    padding: 10px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--gray-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mode:hover{/*hover botão de modo claro/escuro*/
    background-color: rgba(177, 177, 177, 0.425);
}

/*----------------------mobile------------------------*/

@media (max-width: 500px) {/*media querie para mobile*/
  nav {/*barra de navegação*/
  bottom: 0;
}
  nav ul {/*listadelinks*/
  gap: 10px;
  background-color: transparent;
  margin: 10px;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
}

nav ul li {/*lista de links*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: block;
}

nav ul .active,
nav ul .active .mobile-link {/*link ativo*/
  background-color: var(--purple-color);
  color: var(--white-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}
  .mobile-link {/*link para mobile*/
    display: flex;
  }

  .profile-photo span,
  .web-link {/*link para desktop*/
    display: none;
  }
}


