/*configurações das seções do site*/

#about-me,
#education,
#portfolio,
#contact {
  /*seções*/
  height: auto;
  padding: 76px 50px 50px 50px;
}

@media (max-width: 1000px) {
  /*media querie para mobile*/
  #about-me,
  #education,
  #portfolio,
  #contact {
    /*seções*/
    padding: 50px 50px 50px 50px;
  }
}
