/*variáveis globais*/

:root{
    /*cores*/
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #f3f3f3;
    --bg-color: #fff;
    --text-color: #000;
    --p-text-color: #161616;
    --purple-color: #866583;

    /*bordas*/
    --border-radius: 50px;

    /*padding*/
    --padding-20: 0 20px 0 20px;
    --padding-10: 0 10px 0 10px;
}